  <% 
    var years = {};
    site.posts.sort('date').reverse().forEach(function(post){
        const year = post.date.year(), month = post.date.month();
        if(years[year]===undefined){
            years[year] = {};
        }
        if(years[year][month]===undefined){
            years[year][month] = [];
        }
        years[year][month].push(post);
    });
  %>

  <% Object.keys(years).reverse().forEach(function(year){  %>
    <article class="post-detail">
      <div id="archives">
        <h3 class="al_year"><%= year %></h3>
        <% Object.keys(years[year]).reverse().forEach(function(month){  %>
          <ul class="al_mon_list">
            <li clsss="li_mon"><span class="al_mon"><%= month %></span>
                <ul class="al_post_list">
                  <% years[year][month].map(function(post){  %>
                    <li><a href="<%- config.root %><%- post.path %>"><%- post.title || "Untitled" %></a></li>
                  <% }) %>
                </ul>
            </li>
          </ul>
        <% }) %>
      </div>
    </article>
  <% }) %>
  