<%- partial('_partial/head') %>
<body>
  <div id="wrapper">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <!-- end #header -->
    <section id="main"><%- body %></section>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>