<%- partial('_partial/head') %>
<body>
  <div id="wrapper">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <section id="main" class="clearfix"><%- body %></section>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <%- partial('_partial/vendors') %>
  <%- js('js/helper.js') %>
  <%- js('js/_third-party/gitment.js') %>
</body>
</html>