<article class="post-detail">
  <h1 class="post-title"><a href="<%- url_for(page.link) %>"><%= page.title %></a></h1>
  <div class="post-content">
      <% if (page.photos && page.photos.length){ %>
        <%- partial('_partial/post/gallery') %>
      <% } %>
      <%- page.content %>
  </div>
</article>

<!-- Comments -->
<%- partial('_partial/_third-party/comments/comments') %>
<!-- End Comments -->