<% page.posts.each(function(post){ %>
  <%- partial('article', {post: post, index: true}) %>
  <article class="post">
    <a href="<%- url_for(post.link) %>">
      <h1><%= post.title %></h1>
      <div class="post-content"><%- post.content %></div>
    </a>
  </article>
<% }) %>
<% if (page.total > 1){ %>
  <%- partial('_partial/pagination') %>
<% } %>