<h2 class="outline">Article Content</h2>
  <article class="postin">
    <h3 class="post-title"><a href="<%- url_for(page.link) %>"><%= page.title %></a></h3>
    <ul class="post-meta">
      <li><%= __('作者: ') %><%= config.author %></li>
      <li><%= __('日期: ') %><%= date(page.date, 'MMM D') %></li>
      <li><%= __('分类: ') %><%- list_categories(page.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: ' > '
    }) %></li>
    </ul>
    <div class="post-content">
        <%- page.content %>
    </div>
    <p class="tags">
    <% if (page.tags && page.tags.length) { %>
    
    <% } %>
    </p>
  </article>