<% page.posts.each(function(post){ %>
  <article class="post-detail">
    <h1 class="post-title"><a href="<%- url_for(post.link) %>"><%= post.title %></a></h1>
    <%- partial('_partial/post/post-meta', {post: post}) %>
    <div class="post-content">
      <%- post.content %>
    </div>
  </article>
<% }) %>

<% if (page.total > 1){ %>
  <%- partial('_partial/pagination') %>
<% } %>