<header id="header" class="clearfix">
	<a id="logo" href="<%- config.root %>" title="<%= config.title %>"><%= config.title %></a>
	<% if (theme.subtitle) { %>
		<p class="description"><%= theme.subtitle %></p>
	<% } %>
	<nav id="nav-menu" class="clearfix">
		<form id="search" method="post" action="./" role="search">
			<input id="search-input" type="text" name="s" class="inputbox" value="<%= __('menu.search') %>" onfocus="if (value =='<%= __('menu.search') %>'){value =''}" onblur="if (value ==''){value='<%= __('menu.search') %>'}">
		</form>
		<ul>
      <% for (var i in theme.menu){ %>
				<%
					var menu_item = 'menu.' + i;
				%>
        <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= __(menu_item) %></a></li>
      <% } %>
		</ul>
	</nav>
</header>